.div-table{
    height: 360px;
}

.buttonReset-style{
    float: right;
    margin-right: 2%;
}

.div-title-button-table{
    margin-bottom: 25px;
}

.span-dashBoardText{
    font-weight: bold;
    margin-left: 10px;
}

.buttonDate-style{
    float: right;
}